<div *ngIf="colData && gridData && selectedRow" class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>           
                <th *ngFor="let key of colData">
                    {{key.header}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of gridData; index as i; first as isFirst"
                (click)="onRowClicked(item)"
                [class.table-active]="item === selectedRow">          
                <td *ngFor="let key of colData">
                    <span>{{item[key.field]}}</span>
                </td>
              </tr>
        </tbody>
    </table>
</div>
